<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>LeanMind - Terapia Online Efectiva</title>

  <link rel="stylesheet" href="./css/maicons.css">

  <link rel="stylesheet" href="./css/bootstrap.css">

  <link rel="stylesheet" href="./vendor/animate/animate.css">

  <link rel="stylesheet" href="./css/theme.css">

</head>
<body>

  <!-- Back to top button -->
  <div class="back-to-top"></div>

  <header>

    <%- include('template/nonauth-nav'); %>
    <div class="container">
      <div class="page-banner home-banner">
        <div class="row align-items-center flex-wrap-reverse h-100">
          <div class="col-md-6 py-5 wow fadeInLeft">
            <h1 class="mb-4">Terapia online a tu alcance.</h1>
            <p class="text-lg text-grey mb-5">Empieza a cambiar tu vida hoy, habla de forma segura y privada con un psicólogo online cuando lo necesites.</p>
            <a href="#" class="btn btn-primary btn-split">Encontra tu psicologo<div class="fab"><span class="mai-arrow-forward"></span></div></a>
          </div>
          <div class="col-md-6 py-5 wow zoomIn">
            <div class="img-fluid text-center">
              <!-- <img src="./img/banner_image_1.svg" alt=""> -->
              <div id="icon-container"></div>
            </div>
          </div>
        </div>
        <a href="#about" class="btn-scroll" data-role="smoothscroll"><span class="mai-arrow-down"></span></a>
      </div>
    </div>
  </header>

  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card-service wow fadeInUp">
            <div class="header">
              <img src="./img/services/service-1.svg" alt="">
            </div>
            <div class="body">
              <h5 class="text-secondary">Segura</h5>
              <p>Mantenemos altos niveles de seguridad para cuidar y resguardar tu información.</p>
              <a href="service.html" class="btn btn-primary">Leer mas</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card-service wow fadeInUp">
            <div class="header">
              <img src="./img/services/service-2.svg" alt="">
            </div>
            <div class="body">
              <h5 class="text-secondary">Accesible estes donde estes</h5>
              <p>El tiempo y la distancia ya no son problemas. Tu terapeuta siempre estará contigo cuando lo necesites.</p>
              <a href="service.html" class="btn btn-primary">Leer mas</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card-service wow fadeInUp">
            <div class="header">
              <img src="./img/services/service-3.svg" alt="">
            </div>
            <div class="body">
              <h5 class="text-secondary">Profesional</h5>
              <p>Psicólogos certificados en México con más de 5 años de experiencia profesional en el área clínica.</p>
              <a href="service.html" class="btn btn-primary">Leer mas</a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <div class="page-section" id="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 py-3 wow fadeInUp">
          <span class="subhead">Sobre Nosotros</span>
          <h2 class="title-section"></h2>
          <div class="divider"></div>

          <p>Todos los terapeutas que trabajan con nosotros poseen el título de Licenciado/a en Psicología emitido por la autoridad educativa competente y son seleccionados exclusivamente por nuestro equipo. </p>
          <p>Además de esto, son personas apasionadas por su trabajo y tienen una vocación profunda por ayudar al otro, requerimiento clave a la hora de formar parte del equipo de Lean Mind.</p>
          <a href="about.html" class="btn btn-primary mt-3">Leer mas</a>
        </div>
        <div class="col-lg-6 py-3 wow fadeInRight">
          <div class="img-fluid py-3 text-center">
            <img src="./img/about_frame.png" alt="">
          </div>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <div class="page-section bg-light" id="howItWorks">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="subhead">3 Simples pasos</div>
        <h2 class="title-section">¿Cómo funciona la terapia Online?</h2>
        <div class="divider mx-auto"></div>
      </div>

        <div class="row">
          <div class="col-sm-6 col-lg-4 col-l-3 py-3 wow zoomIn">
            <div class="features">
              <div class="header mb-3">
                <span class="mai-business"></span>
              </div>
              <h5>1</h5>
              <p>Nosotros te ayudamos, buscamos y seleccionamos a los mejores psicologos online para vos.</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-l-3 py-3 wow zoomIn">
            <div class="features">
              <div class="header mb-3">
                <span class="mai-business"></span>
              </div>
              <h5>2</h5>
              <p>Selecciona el dia y la hora que mejor se adapte a tu rutina</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-l-3 py-3 wow zoomIn">
            <div class="features">
              <div class="header mb-3">
                <span class="mai-business"></span>
              </div>
              <h5>3</h5>
              <p>Conectate a tus citas por videollamada de forma segura y provada a traves de LeanMind.</p>
            </div>
          </div>
        </div>

    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <!-- <div class="page-section banner-seo-check">
    <div class="wrap bg-image" style="background-image: url(./img/bg_pattern.svg);">
      <div class="container text-center">
        <div class="row justify-content-center wow fadeInUp">
          <div class="col-lg-8">
            <h2 class="mb-4">Check your Website SEO</h2>
            <form action="#">
              <input type="text" class="form-control" placeholder="E.g google.com">
              <button type="submit" class="btn btn-success">Check Now</button>
            </form>
          </div>
        </div>
      </div> 
    </div> 
  </div>  -->

  <div class="page-section">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="subhead">Precios</div>
        <h2 class="title-section">Elegi lo que mas te conviene</h2>
        <div class="divider mx-auto"></div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-4 py-3 wow zoomIn">
          <div class="card-pricing">
            <div class="header">
              <div class="pricing-type">Cita individual</div>
              <div class="price">
                <span class="dollar">$</span>
                <h1>29<span class="suffix">.99</span></h1>
              </div>
              <h5>Por Sesion</h5>
            </div>
            <div class="body">
              <p>+150<span class="suffix"> Psicologos</span></p>
              <p>24/7 <span class="suffix"> Chat</span></p>
            </div>
            <div class="footer">
              <a href="#" class="btn btn-pricing btn-block">Comenzar</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 py-3 wow zoomIn">
          <div class="card-pricing marked">
            <div class="header">
              <div class="pricing-type">Cita de pareja</div>
              <div class="price">
                <span class="dollar">$</span>
                <h1>39<span class="suffix">.99</span></h1>
              </div>
              <h5>Por Sesion</h5>
            </div>
            <div class="body">
              <p>+150<span class="suffix"> Psicologos</span></p>
              <p>24/7 <span class="suffix"> Chat</span></p>
            </div>
            <div class="footer">
              <a href="#" class="btn btn-pricing btn-block">Comenzar</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 py-3 wow zoomIn">
          <div class="card-pricing">
            <div class="header">
              <div class="pricing-type">Cita inidividual doble</div>
              <div class="price">
                <span class="dollar">$</span>
                <h1>49<span class="suffix">.99</span></h1>
              </div>
              <h5>Por Sesion</h5>
            </div>
            <div class="body">
              <p>+150<span class="suffix"> Psicologos</span></p>
              <p>24/7 <span class="suffix"> Chat</span></p>
            </div>
            <div class="footer">
              <a href="#" class="btn btn-pricing btn-block">Comenzar</a>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <!-- Banner info -->
  <div class="page-section banner-info">
    <div class="wrap bg-image" style="background-image: url(./img/bg_pattern.svg);">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 py-3 pr-lg-5 wow fadeInUp">
            <h2 class="title-section">¿Qué es la psicoterapia? </h2>
            <div class="divider"></div>
            <p>La psicoterapia es un proceso de colaboración basado en la relación de una persona y un psicólogo. Como su base fundamental es el diálogo, esta te proporcionará un ambiente de apoyo que te permitirá hablar abiertamente con alguien objetivo, neutral e imparcial.</p>
            
            <ul class="theme-list theme-list-light text-white">
              <li>
                <div class="h5">Trabajo en equipo</div>
                <p>Tu psicólogo y tú trabajarán juntos para identificar y cambiar los patrones de pensamiento y comportamiento que te impiden sentirte bien.</p>
              </li>
              <li>
                <div class="h5">Autoconocimiento</div>
                <p>Al concluir este proceso, no sólo habrás resuelto el problema que te trajo a la consulta, sino que, además, habrás aprendido nuevas destrezas para enfrentar con mayor efectividad cualquier desafío que pueda surgir en el futuro.</p>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 py-3 wow fadeInRight">
            <div class="img-fluid text-center">
              <img src="./img/banner_image_2.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .wrap -->
  </div> <!-- .page-section -->

  <!-- Blog -->
  <div class="page-section" id="team">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="subhead">Equipo</div>
        <h2 class="title-section">Algunos de nuestros psicologos</h2>
        <div class="divider mx-auto"></div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-4 py-3 wow fadeInUp">
          <div class="card-blog">
            <div class="header">
              <div class="post-thumb">
                <img src="./img/blog/blog-1.jpg" alt="">
              </div>
            </div>
            <div class="body">
              <h5 class="post-title"><a href="#">Valentina Rutherford</a></h5>
              <div class="post-date">Cedula <a href="#">46279248</a></div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 py-3 wow fadeInUp">
          <div class="card-blog">
            <div class="header">
              <div class="post-thumb">
                <img src="./img/blog/blog-2.jpg" alt="">
              </div>
            </div>
            <div class="body">
              <h5 class="post-title"><a href="#">Alberto Migliano</a></h5>
              <div class="post-date">Cedula <a href="#">11195336</a></div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 py-3 wow fadeInUp">
          <div class="card-blog">
            <div class="header">
              <div class="post-thumb">
                <img src="./img/blog/blog-3.jpg" alt="">
              </div>
            </div>
            <div class="body">
              <h5 class="post-title"><a href="#">Cecilia Rodriguez</a></h5>
              <div class="post-date">Cedula <a href="#">18246518</a></div>
            </div>
          </div>
        </div>

        <div class="col-12 mt-4 text-center wow fadeInUp">
          <a href="blog.html" class="btn btn-primary">Ver mas</a>
        </div>
      </div>
    </div>
  </div>

  <%- include('template/footer'); %>

<script src="./js/jquery-3.5.1.min.js"></script>

<script src="./js/bootstrap.bundle.min.js"></script>

<script src="./js/google-maps.js"></script>

<script src="./vendor/wow/wow.min.js"></script>

<script src="./js/theme.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>
<script src="./js/svg-boostAnimation.js"></script>
  
</body>
</html>