<!DOCTYPE html>
<html lang="en">
  <%- include('template/head', {title: 'Registro Psicologos'}); %>
<body>
  <div class="container mt-5">
    <form action="/psicologos/sign-up" method="POST">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="username">Nombre de usuario</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Ingrese su nombre de usuario" required>
        </div>
        <div class="form-group col-md-6">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre" required>
        </div>
      </div>
      <div class="form-row ">
        <div class="form-group col-md-6">
          <label for="apellido">Apellido</label>
          <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese su apellido" required>
        </div>
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Ingrese su email" required>
        </div>
      </div>
      <div class="form-row ">
        <div class="form-group col-md-6">
          <label for="nroTelefono">Numero de telefono</label>
          <input type="text" class="form-control" id="nroTelefono" name="nroTelefono" placeholder="Ingrese su numero de telefono" required>
        </div>
        <div class="form-group col-md-6">
          <label for="fechaNacimiento">Fecha de nacimiento</label>
          <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" placeholder="Ingrese su fecha de nacimiento" required>
        </div>
    </div>
    <div class="form-row ">
        <div class="form-group col-md-6">
          <label for="password">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
        </div>
        <div class="form-group col-md-6">
          <label for="nacionalidad">Nacionalidad</label>
          <select class="form-control" id="nacionalidad" name="nacionalidad">
            <option value="1">Argentina</option>
            <option value="2">Venezuela</option>
            <option value="3">Uruguay</option>
            <option value="4">Paraguay</option>
            <option value="5">Colombia</option>
          </select>
      </div>
    </div>
      <div class="form-group">
        <label for="especialidades">Especialidades</label>
        <input type="textarea" class="form-control" id="especialidades" name="especialidades" placeholder="Ingrese sus Especialidades">
      </div>
      <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <input type="textarea" class="form-control" id="descripcion" name="descripcion" placeholder="Ingrese su Descripcion">
      </div>
      <div class="form-group">
        <label for="nroCedula">Numero de Cedula</label>
        <input type="number" class="form-control" id="nroCedula" name="nroCedula" placeholder="Ingrese su numero de Cedula">
      </div>
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
  </div>
  
</body>
</html>
